/*h2{
    color: blue
}

p{
    font-size: 0.9em; /*1em은 부라우저에서 해석될 때 글자 크기를 지정하지 않으면 디폴트값 16px*/
/*    line-height: 2.0;
}*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
@import url("header.css");
@import url("main.css");
@import url("footer.css");